<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.19.0.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
	<title>Real Time Ebike Location Tracker</title>
</head>
<body>

	<script type="text/javascript">
		
		/* Connecting With PubNub network */
		var pnChannel = "ebike_locator";
        
        var pubnub = new PubNub({
           publishKey:   'pub-c-39f2e107-709c-47a8-ab7c-1fc55a944c9c',
           subscribeKey: 'sub-c-df0f3c28-6d56-11ec-a4f8-fa616d2d2ecf'
        });

		pubnub.subscribe({channels: [pnChannel]});
		pubnub.addListener({message:redraw});




	    window.lat = 50.11;
    	window.lng = 8.68;
		function circlePoint(time) {
		  	var radius = 0.01;
		  	var x = Math.cos(time) * radius;
		  	var y = Math.sin(time) * radius;
		  	return {lat:window.lat + y, lng:window.lng + x};

	};

		/* Moving Map Marker Position */

		var map;
		var mark;
		var initialize = function() {
		  map  = new google.maps.Map(document.getElementById('map-canvas'), {center:{lat:lat,lng:lng},zoom:12});
		  mark = new google.maps.Marker({position:{lat:lat, lng:lng}, map:map});
		};
		window.initialize = initialize;

		/* Move Marker Position in Map */
		var redraw = function(payload) {
		  lat = payload.message.lat;
		  lng = payload.message.lng;
		  map.setCenter({lat:lat, lng:lng, alt:0});
		  mark.setPosition({lat:lat, lng:lng, alt:0});
		};


	setInterval(function() {
	  pubnub.publish({channel:pnChannel, message:circlePoint(new Date().getTime()/1000)});
	}, 500);
	</script>


	<div class="container">
  		<h1>Hey Welcome To Real Time Ebike Location Tracker</h1>
  		<div id="map-canvas" style="width:600px;height:600px"></div>
	</div>

	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDCV2VCf2UMg0gHjc5jjSJnGoTkDXwYj6g&callback=initialize"></script>
</body>


</html>